<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4" data-i18n="Navigations">
              Navigations
            </h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#" data-i18n="Sell online">Sell online</a></li>
              <li><a href="#" data-i18n="Features">Features</a></li>
              <li><a href="#" data-i18n="Shopping cart">Shopping cart</a></li>
              <li><a href="#" data-i18n="Store builder">Store builder</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li>
                <a href="#" data-i18n="Mobile commerce">Mobile commerce</a>
              </li>
              <li><a href="#" data-i18n="Dropshipping">Dropshipping</a></li>
              <li>
                <a href="#" data-i18n="Website development"
                  >Website development</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#" data-i18n="Point of sale">Point of sale</a></li>
              <li><a href="#" data-i18n="Hardware">Hardware</a></li>
              <li><a href="#" data-i18n="Software">Software</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4" data-i18n="Promo">Promo</h3>
        <div class="block-6">
          <h3
            class="font-weight-light mb-0 text-white"
            data-i18n="Finding Your Perfect Shoes"
          >
            Finding Your Perfect Shoes
          </h3>
          <p class="text-white-50" data-i18n="Promo from January 15 - 25, 2025">
            Promo from January 15 &mdash; 25, 2025
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4" data-i18n="Contact Info">
            Contact Info
          </h3>
          <ul class="list-unstyled">
            <li class="address" data-i18n="Address">
              203 Fake St. Mountain View, San Francisco, California, USA
            </li>
            <li class="phone">
              <a href="tel://23923929210">+2 392 3929 210</a>
            </li>
            <li class="email">emailaddress@domain.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
